.FeedbackMain{
    /* border:1px solid yellowgreen; */
    padding: 5% 5%;
    background-color: #f8f9fa!important;
}
.FormBlock{
    height: auto;
    padding:20px ;
}
.FeedbackMArgin{
    margin: 2% auto;
}
.FeedbackLabel{
    font-weight: bold;
}