.main{
    
}
.listDiv{
  height: auto;
  max-height: 250px;
  width: 100%;
  /* border: 1px solid; */
  overflow-y: scroll;
  
}

.uList{
    /* padding: 1%; */
    /* border:2px solid black; */
    list-style: none;
    overflow: hidden;
}
.lList{
    float: left;
    /* border: 1px solid; */
    padding:1%;
    width: 23%;
    margin: 1%;
}
.lList:hover{
    background: #212529;
    color: #fff;
}
@media only screen and (max-width: 750px) {
    .lList{
        float: left;
        padding:1%;
        width: 48%;
        margin: 1%;
        text-align: center;
    }
  }


/* Code for the scrollbar */
  /* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
     background: #212529;
    ;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }