.main{
    height: auto;
    width: 100%;
}
.NavAdminLink{
list-style-type: none;
padding: 0;
}
.NavAdminLinkItem{
    padding: 15px;
    font-weight: bold;
    color:#fff

}
.NavAdminLinkItem:hover{
    border-bottom: 2px solid #fff;
}
  /* Sidebar */
  .sidebar {
    background-color: #212529!important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 67px 20px 0 20px; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 25%;
    z-index: 600;
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  .position-sticky
  {
      padding-top: 10px;
  }

  .InfoDiv{
      width: 75%;
      float: right;
      padding-top: 100px;
  }
  @media (max-width: 991.98px) {
    .InfoDiv{
        width: 100%;
        padding-top: 100px;
        margin: auto;
    }  
  } 