.mainInformation{
    min-height: 700px;
    height: 100%;
    width: 75%;
    /* border: 1px solid green; */
    float: left;
    background-color:white ;
    padding: 0 5%;
}
.paragraphInformation{
    color: #43474b!important;
    text-align: justify;
}
.InformationHeading{
    color: #43474b!important;;
}